<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576918309148-rmhummqo47e9qprdd1freiu83u0qiqcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576918309148-rmhummqo47e9qprdd1freiu83u0qiqcg</string>
	<key>API_KEY</key>
	<string>AIzaSyDHveWuTtorPQWZ9tyzXgMuxzC3rArFfsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>576918309148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stanislav-Starovoytov.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-aa267</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-aa267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576918309148:ios:3a1a4272cc7c579a2fd2d9</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-aa267.firebaseio.com</string>
</dict>
</plist>